@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100;1,700&display=swap');
*,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
}
nav ul{
    float: right;
}
nav a:hover{
 background-color: #ffbd0a;
}
.navbar{
    padding: 0;
}
.navbar-nav li{
    margin-left: 50px;
    font-size: 16px;
    font-weight: 400;
}
.contact{
    border: solid;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    margin-top: 1px;
    background-color: #ffbd0a;
}

.navbar-collapse{
    text-align: right;
}

.navbar-toggler{
    font-size: 25px;
}

.navbar-toggler:focus{
    box-shadow: none;
}
.header{
    position: relative;
    object-fit: contain;
    background-size: cover;
}
.bg-img{
    width: 100%;
    opacity: 0.9;
}
.know-btn{
    position: absolute;
    right: 50%;
    bottom: 25%;
}
.sub-heading{
    text-align: center;
    /* background-color: #f2e7cd; */
    font-size: 1em;
    position: relative;
    padding: 20px;
}
.sub-heading::before{
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background-color: #ffbd0a;
    left: 0;
    top:0;
    position: absolute;
    transition: 1000ms;
}
.sub-heading::after{
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background-color: #ffbd0a;
    left: 0;
    position: absolute;
    bottom: 0;
    transition: 1000ms;
}
.sub-heading:hover::before{
    width: 100%;
}
.sub-heading:hover::after{
    width: 100%;
}
.head1{
    text-align: center;
    font-weight: 900;
    font-size: 1em;
}

.uni{
    width: 90%;
    margin: 0 auto;
}
.uni {
    text-align:center;
    font-weight: 400;

}
.uni img{
    width: 100%;
    max-height: 500px;
}
.uni-500{
    width: 90%;
    margin: 0 auto;
    text-align:center;
}
.img-500{
    width: 50%;
    max-height: 300px;
    margin-top: 20px;
}
.all-people-images{
    text-align: center;
}
.people-images{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 90%;
    margin: 30px auto;
    -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
.people-images::-webkit-scrollbar{
    display: none;
}
.people{
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    margin-right: 15px;
    padding: 5px;
    transition: 300ms;
}
.people:hover{
    cursor: pointer;
    transform: scale(1.07);
}
/* .carousel-item{
    height: 500px;
} */
.image-carousel{
    object-fit: contain;
    width: 400px;
    max-height: 400px;
    /* float: right; */
}
.name{
    text-align: center;
}
.role{
    /* float: right; */
}
.video{
margin: 0 auto;
    
}

.partner{
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
 border: 3px solid #ffbd0a;

 padding: 6em;
 margin-top: 10px;
}
.partner-inside {
    text-align: center;
    line-height: 1.5rem;
}
.p1{
    font-size: 1.5em;
    font-weight: 900;
    margin-top: -50px;
    margin-bottom: 30px;
}
.partner-inside span{
    font-size: 1em;
    font-weight: 500;
    color: #ffbd0a;
}
.join{
    color: black;
    font-size: 25px;
}
footer{
    background-color: lightgray;
}
.footer-links{
    /* margin-top: 30px; */
    padding-top: 20px;
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.foot{
    margin-left: 20px;
    transition: 300ms;
}
.foot:hover{
    transform: scale(1.1);
}
.foot p{
    width: 100px;
    border: .1px solid #666060;
    padding: 5px;
    text-align: center;
}
.foot a {
    text-decoration: none;
    color: #473b3b;
    font-weight: 600;
}
footer ul {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
footer  ul li {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    font-size: 20px;
    transform: rotate(45deg);
    overflow: hidden;
    transition: all .5s ease-in;
    margin-left: 10px;
  }
  
  footer ul li:before {
    content:'';
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -2;
  }
  
  footer ul li:after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 50%;
    z-index: -3;
    transition: all .5s ease-in-out;
    opacity: .5;
  }
  
  footer  ul li a {
    color: white;
    margin: auto;
    text-shadow: 0 2px 0 rgb(2,2,2);
    transform: rotate(-45deg);
    transition: all .5s ease-in;
  }
  
  footer  ul li:hover {
    transform: rotate(765deg);
  }
  
  footer ul li:hover:after {
    right: 0%;
  }
  
  footer ul li:hover a {
     transform: rotate(-765deg);
  }
  
  footer ul li:nth-of-type(1):before,
  footer ul li:nth-of-type(1):after {
    background: rgb(54, 215, 183);
  }
  
  footer  ul li:nth-of-type(2):before,
  footer  ul li:nth-of-type(2):after {
    background: rgb(191, 85, 236);
  }
  
  footer  ul li:nth-of-type(3):before,
  footer ul li:nth-of-type(3):after {
    background: #22A7F0;
  }
  
  footer  ul li:nth-of-type(4):before,
  footer ul li:nth-of-type(4):after {
    background: rgb(247, 202, 24);
  }
  
  .copyright{
      font-size: .8em;
      font-weight: 100;
      text-align: center;
      padding: 5px 3px;
  }